.panel.panel-default
  .panel-body
    - @items.each do |item|
      - @questionnaire_responses.each do |qr|
        .row
          .col-md-6
            %strong
              = item.content
          .col-md-6
            = qr.content
