%div{ class: 'modal fade', id: 'submissionModal', tabindex: '-1' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{ class: 'close', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          Submission Information
      .modal-body
      .modal-footer
        %button{ class: 'btn btn-default', data: { dismiss: 'modal' } } Close
